/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");

/* Variables */
:root {
  --bg-color: #FFFFFF;
  --h-color: #000000;
  --text-color: #2d2d2d;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: unset;
  color: unset;
  background: none;
  border: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 2px solid var(--bg-color);
  outline-offset: 2px;
  border-radius: 8px;
}

html {
  font-size: 100%;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--bg-color);
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/gradient.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(25px);
}

.bg-gradient {
  background-color: var(--text-color);
  background-color: #FFFFFF25;
  backdrop-filter: blur(10px);
}

h1,
h2,
h3 {
  line-height: 1;
  color: var(--bg-color);
}

button {
  cursor: pointer;
}

.cursive {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 500;
  font-size: 2rem;
  color: var(--bg-color);
  text-align: center;
}

header,
#home,
#works,
#skills,
#contact,
footer {
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

header nav {
  padding: 0.594rem 1rem;
  margin-top: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  gap: 1rem;
  font-size: 1.125rem;
  color: var(--bg-color);
}

#home {
  margin-top: 2rem;
}

#home,
#works,
#skills,
#contact {
  margin-bottom: 2rem;
}

#home h1 {
  font-size: clamp(2rem, 13vw, 12.5rem);
  font-weight: 700;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
}

h1 span:first-child {
  margin-right: auto;
}

h1 span:last-child {
  margin-left: auto;
}

#works h2,
#skills h2,
#contact h2 {
  font-size: clamp(1.5rem, 11vw, 5rem);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}

#works > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.card {
  display: block;
  padding: 1rem;
  background-color: #FFFFFF80;
  border-radius: 8px;
  border: 2px solid var(--bg-color);
  color: #000000;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}

.card p i {
  font-size: 0.75rem;
}

.card p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  text-align: center;
}

#skills ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#skills ul i,
#contact a {
  font-size: 3rem;
  padding: 2rem;
  background-color: #FFFFFF80;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid var(--bg-color);
}

#contact div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#contact a {
  border: 2px solid var(--bg-color);
  display: flex;
  padding: 0.25rem;
}

#contact i {
  font-size: 1.75rem;
}

footer p {
  font-size: 0.875rem;
  opacity: 0.75;
}

i {
  color: #000000;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
  margin: 0.25rem 0 0.5rem;
}

.tags li {
  background-color: #000000;
  border-radius: 4px;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0 0.25rem;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  header nav {
    margin-top: 0;
  }

  header nav ul {
    gap: 2rem;
    flex-wrap: nowrap;
  }

  #works > ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
