:root {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --text: hsl(0, 0%, 0%);
  --text-neutral: hsl(0, 0%, 15%);
  --text-muted: hsl(0, 0%, 30%);

  --border: hsl(0, 0%, 85%);

  --radius: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);

    --text: hsl(0, 0%, 100%);
    --text-neutral: hsl(0, 0%, 85%);
    --text-muted: hsl(0, 0%, 70%);

    --border: hsl(0, 0%, 15%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  color: unset;
  background: unset;
  border: unset;
  font: unset;
  text-decoration: unset;
}

*:focus-visible {
  outline: 0;
  outline-offset: 0;
  outline-color: unset;
  box-shadow: 0 0 0 2px dodgerblue;
}

html {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-muted);
  min-width: 20rem;
}

h1,
h2 {
  line-height: 1;
  font-weight: 700;
  color: var(--text);
}

h3 {
  font-weight: 600;
  color: var(--text);
}

h1 {
  font-size: 2.8125rem;
  margin-top: -0.25rem;
  margin-bottom: -0.4375rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

ul {
  padding-left: 1.125rem;
}

::marker {
  color: var(--text);
}

.page {
  padding: 2rem 1rem;
  max-width: 48rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact {
  display: flex;
  gap: 0.5rem;
}

.contact a {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: inline-block;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.button {
  display: inline-block;
  background-color: var(--bg-light);
  color: var(--text-neutral);
  border: 1px solid var(--border);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  margin-top: 0.4375rem;
}

.bold {
  font-weight: 500;
  color: var(--text-neutral);
}

.about h2 {
  margin-top: -0.3125rem;
  margin-bottom: 0.8125rem;
}

.about p {
  margin-bottom: -0.4375rem;
}

.skill h2,
.experience h2,
.education h2,
.certificate h2,
.project h2 {
  margin-top: -0.3125rem;
  margin-bottom: 1.1875rem;
}

.skill h3,
.experience address,
.project h3 {
  margin-bottom: 0.1875rem;
}

.skill ul,
.education ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill li,
.education li {
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  font-weight: 500;
}

.skill article:first-of-type {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
  margin-bottom: 0.4375rem;
}

.skill article:first-of-type li,
.education li {
  background-color: var(--bg-light);
  color: var(--text-neutral);
}

.experience article {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5625rem;
  margin-bottom: 0.4375rem;
}

.experience article:last-of-type,
.education article:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: -0.4375rem;
}

.education article,
.certificate article,
.project article {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
  margin-bottom: 0.4375rem;
}

.education article:last-of-type,
.certificate article:last-of-type,
.project article:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.project ul {
  margin-bottom: 0.125rem;
}

.education ul {
  margin-top: 0.1875rem;
}

.html {
  background-color: #e54c21;
  color: #ffffff;
}

.css {
  background-color: #66309a;
  color: #ffffff;
}

.sass {
  background-color: #ffffff;
  color: #ce679a;
}

.tailwindcss {
  background-color: #ffffff;
  color: #35bef8;
}

.javascript {
  background-color: #f0dc4e;
  color: #2e302c;
}

.typescript {
  background-color: #2d79c7;
  color: #ffffff;
}

.react {
  background-color: #ffffff;
  color: #61dbfb;
}

.nextjs {
  background-color: #000000;
  color: #ffffff;
}

.nodejs {
  background-color: #76af64;
  color: #303030;
}

.expressjs {
  background-color: #ffffff;
  color: #000000;
}

.mysql {
  background-color: #f29209;
  color: #007690;
}

.git {
  background-color: #f05030;
  color: #ffffff;
}

.github {
  background-color: #000000;
  color: #ffffff;
}

.parceljs {
  background-color: #dcaa77;
  color: #000000;
}

.vite {
  background-color: #8d73fe;
  color: #ffe03f;
}

.netlify {
  background-color: #00bebb;
  color: #004645;
}

@media only screen and (min-width: 35.375rem) {
  .header {
    justify-content: space-between;
  }
}
