@import url("fonts.css");

/* VARIABLES */
:root {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --text: hsl(0, 0%, 5%);
  --text-neutral: hsl(0, 0%, 15%);
  --text-muted: hsl(0, 0%, 25%);

  --border: hsl(0, 0%, 85%);

  --radius: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);

    --text: hsl(0, 0%, 95%);
    --text-neutral: hsl(0, 0%, 85%);
    --text-muted: hsl(0, 0%, 75%);

    --border: hsl(0, 0%, 15%);
  }
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  color: unset;
  background: unset;
  border: unset;
  font: unset;
  text-decoration: unset;
}

*:focus-visible {
  outline: 0;
  outline-offset: 0;
  outline-color: unset;
  box-shadow: 0 0 0 2px dodgerblue;
}

/* UTILITIES */
html {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-muted);
  min-width: 20rem;
}

h1,
h2,
h3 {
  line-height: 1;
  color: var(--text);
}

h1,
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

h1 {
  font-size: 2.8125rem;
  margin-top: -0.25rem;
  margin-bottom: -0.4375rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

ul {
  padding-left: 1.125rem;
}

::marker {
  color: var(--text);
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.button {
  display: inline-block;
  background-color: var(--bg-light);
  color: var(--text-neutral);
  border: 1px solid var(--border);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
}

.bold {
  font-weight: 500;
  color: var(--text-neutral);
}

/* COMMON STYLES */
.skills h2,
.experience h2,
.projects h2,
.education h2,
.certificates h2 {
  margin-top: -0.3125rem;
  margin-bottom: 0.9375rem;
}

.experience h3,
.education h3,
.certificates h3 {
  margin-bottom: 0.1875rem;
}

.skills ul,
.projects ul:first-of-type,
.education ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills li,
.projects ul:first-of-type li,
.education li {
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  font-weight: 500;
  /* flex: auto; */
  text-align: center;
  background-color: var(--bg-light);
  color: var(--text-neutral);
}

/* .skills article li,
.education li {
  background-color: var(--bg-light);
  color: var(--text-neutral);
} */

.skills article:first-of-type,
.experience article,
.projects article,
.education article,
.certificates article {
  border-bottom: 1px solid var(--border);
  margin-bottom: 0.8125rem;
}

.skills article:first-of-type,
.projects article,
.education article,
.certificates article {
  padding-bottom: 1rem;
}

.projects article:last-of-type,
.education article:last-of-type,
.certificates article:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.experience a,
.education a,
.certificates article a:first-of-type {
  text-decoration: underline;
}

/* STYLES */
.page {
  padding: 2rem 1rem;
  max-width: 48rem;
  margin: 0 auto;
}

.page > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.page > div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.page > div div a {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: inline-block;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

@media only screen and (min-width: 31rem) {
  .page > div {
    justify-content: space-between;
  }
}

/* ABOUT */
.about h2 {
  margin-top: -0.3125rem;
  margin-bottom: 0.8125rem;
}

.about p {
  margin-bottom: -0.4375rem;
}

/* SKILLS */
.skills h3 {
  margin-bottom: 0.8125rem;
}

/* EXPERIENCE */
.experience article {
  padding-bottom: 0.5625rem;
}

.experience article:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: -0.4375rem;
}

/* PROJECTS */
.projects h3 {
  margin-bottom: 0.8125rem;
}

.projects ul {
  margin-bottom: 0.5625rem;
}

/* EDUCATION */
.education ul {
  margin-top: 0.4375rem;
}

.education .bold {
  line-height: 1;
  margin-top: 0.4375rem;
  margin-bottom: 0.25rem;
}

/* CERTIFICATES */
.certificates .button {
  margin-top: 0.4375rem;
}

/* SKILLS LOGO COLORS
.html {
  background-color: #e54c21;
  color: #ffffff;
}

.css {
  background-color: #66309a;
  color: #ffffff;
}

.sass {
  background-color: #ffffff;
  color: #ce679a;
}

.tailwindcss {
  background-color: #ffffff;
  color: #35bef8;
}

.javascript {
  background-color: #f0dc4e;
  color: #2e302c;
}

.typescript {
  background-color: #2d79c7;
  color: #ffffff;
}

.react {
  background-color: #ffffff;
  color: #61dbfb;
}

.nextjs {
  background-color: #000000;
  color: #ffffff;
}

.nodejs {
  background-color: #76af64;
  color: #303030;
}

.expressjs {
  background-color: #ffffff;
  color: #000000;
}

.mysql {
  background-color: #f29209;
  color: #007690;
}

.git {
  background-color: #f05030;
  color: #ffffff;
}

.github {
  background-color: #000000;
  color: #ffffff;
}

.parceljs {
  background-color: #dcaa77;
  color: #000000;
}

.vite {
  background-color: #8d73fe;
  color: #ffe03f;
}

.netlify {
  background-color: #00bebb;
  color: #004645;
} */
