/* Fonts */
@font-face {
  font-family: "Canopee";
  src: url("../assets/fonts/canopee/canopee-regular.woff") format("woff"), url("../assets/fonts/canopee/canopee-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --bg-color: #FFFFFF;
  --h-color: #000000;
  --text-color: #2d2d2d;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: unset;
  color: unset;
  background: none;
  border: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 2px solid var(--h-color);
  outline-offset: 2px;
}

html {
  font-size: 100%;
  font-family: "Canopee", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  line-height: 1;
  color: var(--h-color);
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header,
#home,
#works,
#skills,
#contact,
footer {
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

header div {
  font-size: 2rem;
  color: var(--h-color);
}

header nav {
  padding: 0.594rem 1rem;
  margin-top: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  gap: 1rem;
  font-size: 1.25rem;
  color: var(--text-color);
}

#home {
  margin-top: 2rem;
}

#home,
#works,
#skills,
#contact {
  margin-bottom: 2rem;
}

#home h1 {
  font-size: clamp(4.5rem, 15vw, 24rem);
  font-weight: 500;
  text-transform: uppercase;
}

#works h2,
#skills h2,
#contact h2 {
  font-size: clamp(1.5rem, 11vw, 5rem);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--text-color);
}

#skills h2,
#contact h2 {
  text-align: right;
  border-right: 1px solid var(--text-color);
  padding-right: 0.8rem;
}

#skills ul,
#works ul,
#contact ul {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
  list-style-type: circle;
  gap: 2rem;
  font-size: 2.5rem;
  color: var(--text-color);
}

#skills ul,
#contact ul {
  justify-content: end;
}

#works h2 {
  padding-left: 0.8rem;
  border-left: 1px solid var(--text-color);
}

footer p {
  text-align: center;
}

@media screen and (min-width:768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    margin-top: 0;
  }
}